.test-p {
  margin: 25px 0;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px;
  width: 300px;
  height: 100px;
}

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-img {
  color: #700d14;
  font-size: 20px;
  font-weight: 500;
}

.testimonialBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .test-container {
    display: grid;
    margin-top: 30px;
  }
  .testimonialBox {
    margin-bottom: 20px;
  }
}
